.btn {
  min-height: 50px !important;

  &.btn-primary {
    background-color: #1C6F77 !important;
    border-color: #1C6F77 !important;
  }
  &.btn-outline-primary {
    border-color: #1C6F77 !important;
    color: #1C6F77 !important;

    &:hover {
      background-color: #1C6F77 !important;
      color: #FFFFFF !important;
    }
  }

  &.btn-min-w-170px {
    min-width: 170px !important;
  }
}

.btn-icon-outline-primary {
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s;
  padding: 0;
  border: none;

  i {
    font-size: 25px;
    color: rgba(0,0,0,0.5);
    transition: all 0.5s;
  }

  &:hover {
    i {
      color: #1C6F77;
    }
  }
}