.list-notifications {
  background-color: transparent;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 9999 !important;

  .notification-template {
    position: relative;
    min-width: 400px;
    min-height: 65px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: #39D0FF;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &.success {
      background-color: #5DD177;
    }

    &.danger {
      background-color: #FF5050;
    }

    &.warning {
      background-color: #DDCB29;
    }

    &.info {
      background-color: #39D0FF;
    }

    .suffix-icon-notification {
      top: 0;
      bottom: 0;
      left: 0;
      width: 65px;
      position: absolute;
      border-radius: 5px;
      border-right: 2px solid rgba(255,255,255,0.85);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .content-notification {
      margin: 0 65px;
      min-height: 65px;
      min-width: 270px;
      padding: 10px 15px;
      color: white;
      display: flex;
      align-items: center;
    }

    .prefix-icon-notification {
      top: 0;
      bottom: 0;
      right: 0;
      width: 65px;
      position: absolute;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        cursor: pointer;
      }
    }
  }
}