.background-login {
  background-image: url('/src/assets/images/background-login.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.logo-sate {
  top: 44px;
  left: 56px;
}
.w-400px {
  width: 400px !important;
}
.bottom-20px {
  bottom: 50px;
}

@media screen and (max-width: 450px) {
  .background-login {
    .w-400px {
      width: 90% !important;

      .card-body {

        .logo-login {
          img {
            width: 95% !important;
          }
        }

        .font-color-template-primary {
          &.font-size-15px {
            font-size: 0.8em !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .background-login {
    .w-400px {
      .card-body {
        .font-color-template-primary {
          &.font-size-15px {
            font-size: 0.7em !important;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 730px) {
  .bottom-20px {
    display: none;
  }
}