$count: 25;

@for $i from 1 through $count {
  .rem-#{$i} {
    font-size: calc($i/10)rem !important;
  }
  .em-#{$i} {
    font-size: calc($i/10)em !important;
  }

  @if($i >= 5) {
    .font-size-#{$i}px {
      font-size: #{$i}px !important;
    }
  }

  @if($i <= 10) {
    .font-color-black-#{$i} {
      color: rgba(0,0,0,calc($i/10)) !important;
    }
    .font-color-white-#{$i} {
      color: rgba(255,255,255,calc($i/10)) !important;
    }
  }
}

.link-template-1 {
  text-decoration: none;
  transition: all 5s;

  &:hover {
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
  }
}

.title-page {
  font-size: 30px;
  font-weight: 600;
  color: rgb(0,0,0);
}

.border-none {
  border: none !important;
}

.border-top {
  border-top: 1px solid black;

  &.black-80-2px {
    border-top: 2px solid rgba(0,0,0,0.8)
  }
}

#app {
  background-color: #F3F3F3;
}

.rotate {
  transform: rotate(0deg);
  transition: all 0.2s;

  &.deg-178 {
    transform: rotate(178deg);
  }

  &.bi-plus-lg::before {
    transform: rotate(0deg);
    transition: all 0.2s;
  }

  &.deg-45 {
    &.bi-plus-lg::before {
      transform: rotate(45deg) !important;
    }
  }
}

a {
  &:hover {
    background-color: unset;
  }
}